/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e4e4e4; /* Verde escuro */
    color: #fff;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 25%;
    padding: 5px;
    background-image: linear-gradient(to right, #6DA6B1 0%, #346D7E 100%); /* Gradiente suave de azul claro para azul petróleo */
    color: #fff; /* Texto em bege claro para contraste elegante */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Sombra suave para profundidade */
}
.c2{

    width: 100%;
    height: 700px;
 }


.logo img{
    width: 150px;
}

header h1 {
    color: #ffcc00; /* Amarelo */
    font-size: 2rem;
}

.menu-icon {
    cursor: pointer;
    color: #ffcc00; /* Amarelo */
}

.menu-icon img {
    width: 50px;
    height: 50px;
    filter: invert(99%) sepia(1%) saturate(74%) hue-rotate(354deg) brightness(114%) contrast(100%);
}

/* Inicialmente, o menu estará fora da tela (à direita) */
.menu {
    position: fixed;
    top: 24%;
    right: -400px; /* Mover para fora da tela */
    height: 80%;
    width: 170px;
    background-color: #00000086;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 0 0 10px;
    transition: right 0.5s ease, transform 0.5s ease;
    transform: scale(1); /* Sem redimensionamento inicialmente */
    opacity: 1;
}

/* Quando a classe 'show' é aplicada, o menu desliza para dentro da tela */
.menu.show {
    right: 0; /* Move o menu para dentro da tela */
    transform: scale(0.9); /* Reduz o tamanho um pouco */
    opacity: 1;
}

/* Estilo dos cards */
.card {
    background-color: #d3d3d300;
    border: none;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    width: 130px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 80px;
    height: 80px;
}

.card p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #fff;
}

/* Efeitos de hover */
.card:hover {
    background-color: #ffcc00; /* Amarelo */
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.98);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 80px); /* Altura restante após o header */
    background-color: #004400;
}

@media screen and (min-width: 600px) {
    .menu {
        flex-direction: column;
        justify-content: center;
    }

    .container p {
        font-size: 1.5rem;
    }
}

/* Estilos adicionais */

/* Seção principal */
main {
    padding: 100px;
    
    max-width: 1200px;
    margin: 0 auto;
    color: #333;
}

h2 {
    color: #000000;
    margin-bottom: 20px;
    font-size: 300%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
      
    
}
h4{
    color: #000000;
    margin-bottom: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section {
    margin-bottom: 40px;
}


.services ul,
.about ul,
.security ul {
    list-style-type: circle;
    padding-left: 20px;
}

.services img,
.about img,
.security img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 20px 0;
}

.team {
    background-color: #f7f7f7;
    padding: 30px;
    text-align: center;
}

.team img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.team h3 {
    color: #6DA6B1;
}

.testimonials {
    background-color: #fff3e0;
    padding: 30px;
}

.testimonials blockquote {
    border-left: 5px solid #6DA6B1;
    padding-left: 15px;
    font-style: italic;
    color: #555;
}










.servicos {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.cards2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card3 {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 250px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card3 h2 {
    color: #6b1c1c;
    font-size: 1.4em;
    margin-bottom: 15px;
}

.card3 p {
    color: #333;
    font-size: 0.9em;
}

.icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .cards2 {
        flex-direction: column;
        align-items: center;
    }

    .card3 {
        width: 80%;
        margin-bottom: 20px;
    }
}