/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e4e4e4; /* Verde escuro */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    position: relative; /* Adicionado para garantir que o menu fique sobreposto */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-image: linear-gradient(to right, #6DA6B1 0%, #346D7E 100%); /* Verde mais escuro */
}

header h1 {
    color: #ffcc00; /* Amarelo */
    font-size: 2rem;
}

.menu-icon {
    cursor: pointer;
    color: #ffcc00; /* Amarelo */
}

.menu-icon img {
    width: 50px;
    height: 50px;
    filter: invert(99%) sepia(1%) saturate(74%) hue-rotate(354deg) brightness(114%) contrast(100%);
}

/* Menu desliza a partir da direita */
.menu {
    position: fixed; /* Fixa o menu na tela */
    top: 0; /* Alinha ao topo da página */
    right: -300px; /* Mova o menu para fora da tela à direita */
    height: 100%; /* Ocupa a altura total da tela */
    width: 250px; /* Largura do menu */
    background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo escura com opacidade */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 10px 10px 0; /* Bordas arredondadas no lado direito */
    transition: right 0.3s ease; /* Transição suave ao deslizar */
    z-index: 1000; /* Garante que o menu fique acima de outros elementos */
}

/* Quando a classe 'show' é aplicada, o menu desliza para dentro da tela */
.menu.show {
    right: 0; /* Move o menu para dentro da tela */
}

/* Estilo dos cards */
.card {
    background-color: rgba(211, 211, 211, 0.3); /* Cor de fundo semi-transparente */
    border: none;
    padding: 20px; /* Ajustado para mais espaçamento */
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    width: 130px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 80px;
    height: 80px;
}

.card p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #fff;
}

/* Efeitos de hover */
.card:hover {
    background-color: #ffcc00; /* Amarelo */
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.98);
}

.container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 80px); /* Altura restante após o header */
    padding: 20px;
}

.titulo {
    text-align: center;
    color: #000; /* Cor do texto */
}

@media screen and (min-width: 600px) {
    .menu {
        width: 300px; /* Largura do menu em telas maiores */
    }
    
    .container-principal p {
        font-size: 1.5rem;
    }
}