<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro do Aluno</title>
    <link rel="stylesheet" href="/static/styles/cadastro-aluno.css">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="stylesheet" href="/static/styles/variaveis.css">
</head>
<body>
    <header>
        <figure>
            <div class="logo"><img src="/static/icones/logo.png" alt=""></div>
        </figure>
    </header>

    <main>
        <form class="container-form" action="#" method="post">
            <div class="itens-form">
                <section class="lado-esquerdo-container">
                    <label for="nome-aluno">Nome:</label>
                    <input type="text" id="nome-aluno" name="nome-aluno" placeholder="ex: João da Silva" name="nomeAluno">
                    
                    <label for="nome-responsavel">Nome do responsável:</label>
                    <input type="text" id="nome-responsavel" name="nome-responsavel" placeholder="ex: Maria de Souza" name="nomeResponsavel">
                    
                    <label for="telefone-responsavel">Telefone do responsável:</label>
                    <input type="text" id="telefone-responsavel" name="telefone-responsavel" placeholder="ex: (00) 0000-0000" name="telefoneResponsavel">
                    
                    <label for="escola">Escola:</label>
                    <input type="text" id="escola" name="escola" placeholder="ex: Escola Horizonte Azul" name="escola">

                </section>
                
                <section class="lado-direito-container">

                    <label for="email-aluno">Email:</label>
                    <input type="email" id="email-aluno" name="email-aluno" placeholder="ex: nome@exemplo.com" name="emailAluno">

                    <label for="foto-aluno">Foto Aluno:</label>
                    <input type="text" id="foto-aluno" name="foto-aluno" placeholder="Insira o link da foto aqui" name="fotoAluno">
                    
                    <label for="condicao-medica">Condição Médica:</label>
                    <input type="text" id="condicao-medica" name="condicao-medica" placeholder="Insira um texto sobre, se não tem escreva 'Não tem'" name="condicaoMedica">

                    <label for="endereco-aluno">Endereço:</label>
                    <input type="text" id="endereco-aluno" name="endereco-aluno" placeholder="ex: Rua das Flores, 123 - Bairro, Cidade, Estado" name="enderecoAluno">

                    <div class="btn-container">
                       <button type="submit" class="cadastrar">Cadastrar</button>
                    </div>

                </section>
            </div>
        </form>
    </main>
</body>
</html>