<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gerar Pagamento</title>
        <link rel="stylesheet" href="/static/styles/cadastro-aluno.css">
        <link rel="stylesheet" href="/static/styles/style.css">
        <link rel="stylesheet" href="/static/styles/gerar-pagamento.css">
        <link rel="stylesheet" href="/static/styles/variaveis.css">
    </head>
    <body>
        <header>
            <button class="button-back" type="button">
                <a href="/historico_pagamento"><img src="/static/icones/seta-voltar.png"
                        alt="imagem de uma seta para esquerda"></a>
            </button>
            <figure>
                <div class="logo">
                    <a href="/pag-inicial-motorista"><img src="/static/icones/movebr.png" alt="logo da movebr"></a>
                </div>
            </figure>
        </header>

        <main>
            <div class="cabecalho-container">
                <h2>Cadastro de Pagamentos</h2>
            </div> 
           
            <form class="container-form" action="/editar-pagamento/{{ pagamento.id_pagamento }}" method="post">
                <div class="itens-form">
                    <section class="lado-esquerdo-container">
            
                        <label for="nomeAluno">Pagamento:</label>
                        <input id="nomeAluno" name="nomeAluno" value="{{ pagamento.nome_aluno }}">
                            
                        </input>
                        
                        <label for="mesPagamento">Mês:</label>
                        <select id="mesPagamento" name="mes_pagamento">
                            <option value="Janeiro" {% if pagamento.mes_pagamento == 'Janeiro' %} selected {% endif %}>Janeiro</option>
                            <option value="Fevereiro"{% if pagamento.mes_pagamento == 'Fevereiro' %} selected {% endif %}>Fevereiro</option>
                            <option value="Março"{% if pagamento.mes_pagamento == 'Março' %} selected {% endif %}>Março</option>
                            <option value="Abril"{% if pagamento.mes_pagamento == 'Abril' %} selected {% endif %}>Abril</option>
                            <option value="Maio"{% if pagamento.mes_pagamento == 'Maio' %} selected {% endif %}>Maio</option>
                            <option value="Junho"{% if pagamento.mes_pagamento == 'Junho' %} selected {% endif %}>Junho</option>
                            <option value="Julho"{% if pagamento.mes_pagamento == 'Julho' %} selected {% endif %}>Julho</option>
                            <option value="Agosto"{% if pagamento.mes_pagamento == 'Agosto' %} selected {% endif %}>Agosto</option>
                            <option value="Setembro"{% if pagamento.mes_pagamento == 'Setembro' %} selected {% endif %}>Setembro</option>
                            <option value="Outubro"{% if pagamento.mes_pagamento == 'Outubro' %} selected {% endif %}>Outubro</option>
                            <option value="Novembro"{% if pagamento.mes_pagamento == 'Novembro' %} selected {% endif %}>Novembro</option>
                            <option value="Dezembro"{% if pagamento.mes_pagamento == 'Dezembro' %} selected {% endif %}>Dezembro</option>
                        </select>
                        
                        <label for="dataPagamento">Data:</label>
                        <input type="date" id="dataPagamento" value="{{ pagamento.data_pagamento }}" name="data_pagamento">
                        
                        <label for="valorPagamento">Valor:</label>
                        <input type="text" id="valorPagamento" value="{{ pagamento.valor_pagamento }}" name="valor_pagamento">
            
                        <!-- Novo campo: Método de pagamento -->
                        <label for="metodoPagamento">Método de Pagamento:</label>
                        <select id="metodoPagamento" name="metodo_pagamento">
                            <option value="pagamento['metodo_pagamento']">{{ pagamento.metodo_pagamento }}</option>
                            <option value="Cartão de Crédito">Cartão de Crédito</option>
                            <option value="Cartão de Débito">Cartão de Débito</option>
                            <option value="PIX">PIX</option>
                            <option value="Dinheiro">Dinheiro</option>
                        </select>
            
                        <button type="submit" class="botao">Cadastrar pagamento</button>
                    </section>
                </div>
            </form>
         
        </main>
    </body>
</html>