<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar Pagamento</title>
    <link rel="stylesheet" href="/static/styles/cadastro-aluno.css">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="stylesheet" href="/static/styles/variaveis.css">
</head>
<body>
    <header>
        <figure>
            <div class="logo"><img src="/static/icones/logo.png" alt=""></div>
        </figure>
    </header>

    <main>
        <form class="container-form" action="/gerar-pagamento" method="post">
            <div class="itens-form">
                <section class="lado-esquerdo-container">
                    <!-- Aluno pagante -->
                    <label for="nomeAluno">Aluno pagante:</label>
                    <select id="nomeAluno" name="id_aluno">
                        <!-- Aqui a lista de alunos será preenchida dinamicamente pelo backend -->
                        {% for aluno in alunos %}
                        <option value="{{ aluno.id }}">{{ aluno.nome }}</option>
                        {% endfor %}
                    </select>
                    
                    <!-- Mês do pagamento -->
                    <label for="mesPagamento">Mês do pagamento:</label>
                    <input type="text" id="mesPagamento" placeholder="ex: Janeiro" name="mes_pagamento">
                    
                    <!-- Data exata do pagamento -->
                    <label for="dataPagamento">Data exata do pagamento:</label>
                    <input type="text" id="dataPagamento" placeholder="ex: 17/10/2023" name="data_pagamento">
                    
                    <!-- Valor do pagamento -->
                    <label for="valorPagamento">Valor do pagamento:</label>
                    <input type="text" id="valorPagamento" placeholder="ex: 500.00" name="valor_pagamento">
                    
                    <!-- Botão de submit -->
                    <button type="submit" class="botao">Gerar pagamento</button>
                </section>
            </div>
        </form>
    </main>
</body>
</html>