<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/styles/listar-aluno.css">
    <link rel="stylesheet" href="../static/styles/variaveis.css">
    <script src="/static/js/lista-escola.js" defer></script>
    <script src="/static/js/rotas-mapas.js" defer></script>
    <script src="/static/js/letras-maiusculas.js" defer></script>
    


<body>
    <header>
        <button class="button-back" type="button">
            <a href="/pag-inicial-motorista"><img src="/static/icones/seta-voltar.png" alt="imagem de uma seta para esquerda"></a>
        </button>
        <figure>
            <div class="logo">
                <a href="/pag-inicial-motorista"><img src="/static/icones/movebr.png" alt="logo da movebr"></a>
            </div>
        </figure>
    </header>

    <main>
        <section class="c-table">
            <div class="title">
                <h2>Passageiros</h2>
                <a href="/cadastrar-aluno" class="btn-cadaluno"><button> + Cadastrar Aluno </button></a>
            </div>

            <div class="container-busca">
                <form action="/listar-alunos" method='get'>
                    <input type="text" name="query" class="input-busca" placeholder="Buscar...">
                    <button class="icone-busca" type="submit">🔍</button>
                </form>
                
            </div>

            <div class="container-listagem-busca">
                <h2>Escolas</h2>
                <ul>
                    <!-- Botão para exibir todos os alunos, aparece apenas uma vez -->
                    <li>
                        <form method="GET" action="{{ url_for('listar_alunos') }}">
                            <button type="submit" class="btn-escola" id="btn-todos">Todos</button>
                        </form>
                    </li>
        
                    <!-- Botões para cada escola, baseados na lista de escolas -->
                    {% for escola in escolas %}
                    <li>
                        <form method="GET" action="{{ url_for('listar_alunos', escola=escola) }}">
                            <button type="submit" class="btn-escola" id="btn-{{ escola }}">{{ escola }}</button> <input type="checkbox" class="school-checkbox" data-address="{{escola}}" value="{{escola}}">
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

    {% if alunos %}
    <h2 class="AA">Alunos cadastrados:</h2>
    <div class="contagem-alunos"></div>

    {% else %}
    <h2 class="AA">Você ainda não possui alunos cadastrados.</h2>
    {% endif %}

        <div id="alunosList">
            {% for aluno in alunos %}
            <table class="alunos-listados" data-name="{{ aluno['nome_aluno'] | lower }}">
                <div class="container-tabela">
                    <tbody>
                        <tr class="aluno">
                            <td>
                                <div class="perfil-aluno">
                                    <div class="foto-aluno">
                                        <img src="{{aluno['foto_aluno']}}" alt="Foto do Aluno">
                                    </div>
                                    <div class="info-aluno">
                                        <h2> {{aluno['nome_aluno']}} </h2>
                                        <p><strong>Nome do responsável:</strong> {{aluno['nome_responsavel']}} </p>
                                        <p><strong>Telefone do responsável:</strong> {{aluno['telefone_responsavel']}} </p>
                                    </div>
                                    <div class="container-rota">
                                        <input type="checkbox" class="student-checkbox" data-address="{{aluno['endereco']}}" value="{{aluno['nome_aluno']}}">
                                    </div>
                                </div>

                                <div class="detalhes" style="display: none;">
                                    <div class="info-transporte">
                                        <div class="titulo-editar">
                                            <h3>Informações de Transporte</h3>
                                            <a href="/editar-aluno/{{aluno['id_aluno']}}">
                                                <button class="btn-editar">
                                                    <img class="icon-editar" src="/static/icones/editar.png" alt="Ícone Editar">
                                                </button>
                                            </a>
                                        </div>
                                        <p><strong>Endereço:</strong> {{aluno['endereco']}} </p>
                                        <p><strong>Escola:</strong> {{aluno['escola']}} </p>
                                        <p><strong>Série:</strong> {{aluno['serie-aluno']}} </p>
                                        <p><strong>Período:</strong> {{aluno['periodo-aluno']}} </p>
                                    </div>
                                    <div class="info-extra">
                                        <h3>Informações Extra</h3>
                                        <p> {{aluno['condicao_medica']}} </p>
                                    </div>

                                    <div class="container-btn-excluir">
                                        <a href="/quebra-contrato/{{aluno['id_aluno']}}"><button>Excluir Aluno</button></a>
                                    </div>
                                </div>

                                <div class="button-container">
                                    <button class="btn-expandir" onclick="toggleExpandir(this)">▼</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </div>
            </table>
            {% endfor %}
        </div>

        <section class="rota">
            <label for="origin">Ponto de Partida:</label>
            <br>
            <input type="text" id="origin" placeholder="Insira o ponto de partida">
            <button id="generateRoute">Gerar URL da Rota</button>
            <div id="routeUrl"></div>
        </section>
    </main>

    <script>
        // Função para mostrar ou esconder alunos com base no texto de pesquisa
        document.getElementById('searchInput').addEventListener('input', function () {
            const query = this.value.toLowerCase();
            const alunosList = document.querySelectorAll('#alunosList .alunos-listados');

            alunosList.forEach(function (aluno) {
                const alunoName = aluno.getAttribute('data-name');
                if (alunoName.includes(query)) {
                    aluno.style.display = '';
                } else {
                    aluno.style.display = 'none';
                }
            });
        });

        // Função para abrir e fechar o menu
        document.getElementById('toggleBtn').addEventListener('click', function () {
            var menu = document.getElementById('menu1');
            menu.style.display = menu.style.display === 'grid' ? 'none' : 'grid';
            this.innerHTML = menu.style.display === 'grid' ? '&#9660;' : '&#9650;';
        });

        const details = document.getElementById('details');

        // Função para contar os alunos exibidos e atualizar o contador
        function atualizarContagemAlunos() {
            // Seleciona todos os elementos que representam um aluno
            const alunosExibidos = document.querySelectorAll('.aluno');
            // Obtém a div onde a contagem será exibida
            const contagemDiv = document.querySelector('.contagem-alunos');
            // Atualiza a contagem dentro da div
            contagemDiv.textContent = `Total de alunos: ${alunosExibidos.length}`;
        }

        // Chama a função quando o conteúdo da página é carregado
        document.addEventListener("DOMContentLoaded", function () {
            atualizarContagemAlunos();
        });

        // Opcional: se houver alterações dinâmicas na listagem dos alunos,
        // você pode chamar 'atualizarContagemAlunos()' novamente após essas alterações.
</script>

<script>
    function toggleExpandir(button) {
        const alunoRow = button.closest('.aluno');
        const detalhesContainer = alunoRow.querySelector('.detalhes');

        if (detalhesContainer.style.display === 'none') {
            detalhesContainer.style.display = 'block';
            button.textContent = '▲';
        } else {
            detalhesContainer.style.display = 'none';
            button.textContent = '▼';
        }
    }
</script>