<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>

    <header>
        <div class="logo"><img src="../static/icones/logo.png" alt=""></div>
    </header>

    <main>
        <form class="container-form">
            <div class="itens-form">

                <div class="cima-container">
                    <label for="emailAluno">Email:</label>
                    <input type="email" id="emailAluno" placeholder="ex: nome@exemplo.com">
                    
                    <label for="senhaAluno">Senha:</label>
                    <input type="password" id="senhaAluno" placeholder="ex: mínimo 8 caracteres">
                    <a href="#" class="link-senha">Esqueceu sua senha?</a>
                </div>

                <div class="baixo-container">
                    <hr>
                    <p>Ainda não possui cadastro? <a href="#">Cadastrar-se!</a></p>
                </div>
            </div>

            <div class="btn-container">
                <button type="submit" class="login">Login</button>
            </div>
        </form>
    </main>

    <footer>
    </footer>
    
</body>
</html>