<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login MoveBR</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="container">
        <div class="login-box">
            <h1>MoveBR</h1>
            <form>
                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="Insira seu e-mail">
                
                <label for="password">Senha:</label>
                <input type="password" id="password" placeholder="Insira sua senha">
                
                <div class="forgot-password">
                    <a href="#">Esqueceu sua senha?</a>
                </div>

                <button type="submit">logar</button>
            </form>

            <div class="register">
                <p>Não possui um cadastro? <a href="#">Cadastrar-se</a></p>
            </div>
        </div>
    </div>
</body>
</html>
