{% extends "index.html" %}

{% block content %}
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles/login.css">

    <main>
        <form class="container-form">
            <div class="itens-form">

                <div class="cima-container">
                    <label for="emailAluno">Email:</label>
                    <input type="email" id="emailAluno" placeholder="ex: nome@exemplo.com">
                    
                    <label for="senhaAluno">Senha:</label>
                    <input type="password" id="senhaAluno" placeholder="ex: mínimo 8 caracteres">
                    <a href="#" class="link-senha">Esqueceu sua senha?</a>
                </div>
                
                <div class="btn-container">
                    <button type="submit" class="login">Login</button>
                </div>

                <div class="baixo-container">
                    <hr>
                    <p>Ainda não possui cadastro? <a href="#">Cadastrar-se!</a></p>
                </div>
            </div>
        </form>
    </main>

{% endblock %}