<!DOCTYPE html>
<html>
<head>
    <title>MoveBR</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/styles/pag-inicial-moto.css">
    <link rel="stylesheet" href="/static/styles/variaveis.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <figure>
                <img src="/static/icones/movebr.png" alt="Logo">
            </figure>
        </div>

        <nav>
            <strong>
                <a href="#" class="destacado">Página Inicial</a>
                <a href="#">Nossos Serviços</a>
                <a href="#">Sobre nós</a>
                <a href="#">Fale conosco</a>
            </strong>
        </nav>
    </header>

    <main>
        
        <div class="cont-main">
            <img src="/static/icones/vans.jpeg" alt="">
            <div class="container-main">
                <div class="conteudo-conteiner-main">
                    <h2>MoveBR</h2>
                    <h1>"Movemos a educação que transforma o mundo."</h1>
                    <p>Nós da MoveBR o próposito de, organizar e planejar antecipadamente todos os dados para o motorista, assim facilitando seu trabalho.</p>

                    <div class="btn-whats">
                        <a href="#" class="icone-whats"><i class="fab fa-whatsapp"></i> FAÇA UM ORÇAMENTO AGORA</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>