<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Aluno</title>
    <link rel="stylesheet" href="/static/pag-aluno.css">
</head>
<body>
    <header>
        <div class="logo">MoveBR</div>
    </header>

    <main>
        <form class="form-container" action="/cadastrar-aluno" method="post">
            <label for="nome_aluno">Nome do Aluno:</label>
            <input type="text" id="nome_aluno" name="nome_aluno" placeholder="Insira o nome do aluno" required>
            
            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" name="endereco" placeholder="Insira o endereço do aluno" required>
            
            <label for="cidade">Cidade:</label>
            <input type="text" id="cidade" name="cidade" placeholder="Insira a cidade do aluno" required>
            
            <label for="idade">Idade:</label>
            <input type="number" id="idade" name="idade" placeholder="Insira a idade do aluno" required>
            
            <label for="nome_responsavel">Nome do Responsável:</label>
            <input type="text" id="nome_responsavel" name="nome_responsavel" placeholder="Insira o nome do responsável" required>
            
            <label for="tel_responsavel">Telefone do Responsável:</label>
            <input type="text" id="tel_responsavel" name="tel_responsavel" placeholder="Insira o telefone do responsável" required>
            
            <label for="a_periodo">Período:</label>
            <input type="text" id="a_periodo" name="a_periodo" placeholder="Insira o período escolar" required>
            
            <div class="button-container">
                <button type="submit" class="cadastrar">Cadastrar</button>
            </div>
        </form>
    </main>

    <footer>
        <p><strong>MoveBR</strong> é uma empresa especializada no transporte escolar, oferecendo serviços de alta qualidade para garantir a segurança e o conforto das crianças durante o trajeto entre a escola e suas casas. Com uma frota moderna e motoristas treinados, a MoveBR se dedica a proporcionar tranquilidade aos pais, cuidando com carinho e responsabilidade de seus pequenos passageiros. Nossa missão é ser a melhor opção em transporte escolar, sempre priorizando a segurança, pontualidade e bem-estar de todos os nossos clientes.</p>
    </footer>
    
</body>
</html>