<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoveBR</title>
    <link rel="stylesheet" href="/static/css/pag-inicial.css">
</head>
<body>
    <header>
        <h1>MoveBR</h1>
        <div class="menu-icon" id="menu-icon">
            <img src="https://img.icons8.com/ios-filled/50/000000/user.png" alt="Perfil" id="profile-icon"/>
        </div>
   
    </header>
    
    <nav id="menu" class="menu">
        <button class="card" id="motorista">
            <img src="https://img.icons8.com/ios-filled/100/ffffff/steering-wheel.png" alt="Motorista" />
            <p>Motorista</p>
        </button>
        <button class="card" id="aluno">
            <img src="https://img.icons8.com/ios-filled/100/ffffff/student-male.png" alt="Aluno" />
            <p>Aluno</p>
        </button>
        <button class="card" id="configuracao">
            <img src="https://img.icons8.com/ios-filled/100/ffffff/settings.png" alt="Configuração" />
            <p>Configuração</p>
        </button>
        
    </nav>
    

    <script src="/js/pag-inicial.js"></script>
</body>
</html>
