<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoveBR - Motoristas</title>
    <link rel="stylesheet" href="/static/styles/pag-inicial-motorista.css">
    <script src="../static/js/pag-inicial-motorista.js"></script>
</head>
<body>
    <header>
        <div class="cabecalho_motorista">
            <figure>
                <div class="logo"><img src="../static/icones/logo.png" alt=""></div>
            </figure>  
        </div>
    </header>
 
    <div class="container-menu-motorista">
            <ul id="ul-menu-motorista">

                <li class = "nav-item-motorista"></li>
                    <a id="a-menu-motorista" href="seu-perfil-motorista">Seu Perfil</a> 
                </li>

                <li class = "nav-item-motorista">
                    <a id="a-menu-motorista" href="/listar-aluno">Lista de alunos</a> 
                </li>

                <li class = "nav-item-motorista">
                    <a id="a-menu-motorista" href="/listar-responsavel">Gerenciamento de clientes</a> 
                </li>

                <li class = "nav-item-motorista">
                    <a id="a-menu-motorista" href="/historico-pagamento">Histórico de pagamentos</a> 
                </li>
            </ul>
       </div>
    </div>
    <main>
        <section class="section01-pag_motorista">
            <h1>Bem-vindo, {Nome do motorista}</h1>
            <p>Facilite seu negócio com a MoveBR e otimize seu trabalho!</p>
        </section>
        {% block content %}{% endblock %}
        <section>
            
        </section>
        

    </main>

    <footer>
        <p>&copy; 2024 MoveBR. Todos os direitos reservados.</p>
    </footer>
</body>

    
{% endblock %}