<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoveBR</title>
    <link rel="stylesheet" href="/static/pag-motorista.css">
</head>
<body>
    <header>
        <div class="logo">MoveBR</div>
    </header>

    <main>
        <form class="form-container" action="#" method="POST">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" placeholder="seu nome completo">
            
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" placeholder="Insira seu CPF">
            
            <label for="cnpj">CNPJ:</label>
            <input type="number" id="cnpj" name="cnpj" placeholder="Insira seu CNPJ">
            
            <label for="cnh">CNH D:</label>
            <input type="number" id="cnh" name="cnh" placeholder="Insira sua CNH D">
            
            <label for="phone">Telefone:</label>
            <input type="tel" id="phone" name="phone" placeholder="Insira seu telefone com DDD">
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Insira seu email">

            <label for="cidade">Cidade:</label>
            <input type="text" id="cidade" name="cidade" placeholder="Insira sua cidade">
            
            <label for="password">Senha:</label>
            <input type="password" id="password" name="senha" placeholder="Insira sua senha">
            
            <div class="button-container">
                <button type="submit" class="cadastrar">Cadastrar</button>
                <button type="button" class="login">Login</button>
            </div>
        </form>
    </main>

    <footer>
        <p><strong>MoveBR</strong> é uma empresa especializada no transporte escolar, oferecendo serviços de alta qualidade para garantir a segurança e o conforto das crianças durante o trajeto entre a escola e suas casas. Com uma frota moderna e motoristas treinados, a MoveBR se dedica a proporcionar tranquilidade aos pais, cuidando com carinho e responsabilidade de seus pequenos passageiros. Nossa missão é ser a melhor opção em transporte escolar, sempre priorizando a segurança, pontualidade e bem-estar de todos os nossos clientes.</p>
    </footer>
    
</body>
</html>
