<!DOCTYPE html>
<html>
<head>
    <title>MoveBR</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/styles/pag-inicial-moto.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <figure>
                <img src="" alt="Logo">
            </figure>
        </div>

        <nav>
            <strong>
                <a href="#" class="destacado">Página Inicial</a>
                <a href="#">Nossos Serviços</a>
                <a href="#">Sobre nós</a>
                <a href="#">Fale conosco</a>
            </strong>
        </nav>
    </header>

    <main>
        <img src="" alt="">

        <div class="container-main">
            <div class="conteudo-conteiner-main">
                <h2>MoveBR</h2>
                <h1>ATENDEMOS TODO BRASIL FRACIONADO E DEDICADO CARGAS ACIMA DE 250KG</h1>
                <p>A D&F Express é reconhecida por seus clientes pelo seu comprometimento, qualidade e agilidade nas operações logísticas de grande porte no transporte nacional. Cotação online, clique no botão abaixo.</p>
                <a href="#" class="icone-whats"><i class="fab fa-whatsapp"></i> FAÇA UM ORÇAMENTO AGORA</a>
            </div>
        </div>
    </main>
</body>
</html>