<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/perfil-motorista.css">
    <title>Perfil Motorista</title>
</head>
<body>
    <header>
        <div class="cabecalho_motorista">
            <figure>
                <div class="logo"><img src="../static/icones/logo.png" alt=""></div>
            </figure>
        </div>
    </header>
    <main>
        <section>
            <div class="perfil-container">
                <img src="/static/icones/volante.png" alt="Foto do Motorista" class="foto-motorista">
                <div class="nome-motorista"><p>Nome do Motorista</p></div>
                <div class="div-botao-editar"><a href="/editar-perfil-motorista"><button class="botao"></a></button></div>
                <div class="descricao-motorista">
                    <h2>Descrição</h2>
                    <p>Motorista experiente com mais de 5 anos de trabalho no transporte escolar dadadsjjnlsmdlkakdkalmsdkaldmkakdlmskkdçadjasdkkapdajkdmaskdçal,mdlkkaçdlmskalkdlmaldka,smjdoskadkjaldk,mkasjkd,makj</p>
                </div>
                <div class="cidade-motorista">
                    <h2>Cidade:</h2>
                    <p>{{cidade}}</p>
                </div>
                <div class="foto-van">
                    <h2>Foto do veículo:</h2>
                    <img src="/static/icones/Road.png" alt="">
                </div>
                <button class="botao-contrato">Solicitar Fechamento de Contrato</button>
            </div>
        </section>
    </main>
</body>
</html>