<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/styles/quebra-contrato.css">
    <link rel="stylesheet" href="/static/styles/variaveis.css">
    <link rel="stylesheet" href="/static/styles/style.css">
    
    <title>Quebra de Contrato</title>
</head>
<body>
    <header>
        <figure>
            <div class="logo"><img src="/static/icones/logo.png" alt=""></div>
        </figure>
    </header>
    
    <nav>
        <a href="/motorista-inicio"><button class="botao">Início</button></a> 
        <a href="/listar-aluno"><button class="botao">Alunos clientes</button></a> 
        <a href="/listar-responsavel"><button class="botao">Gerenciamento de clientes</button></a> 
        <a href="/historico-pagamento"><button class="botao">Histórico de pagamentos</button></a> 
    </nav>

    <div class="container">
        <h1>Quebra de Contrato</h1>
        
        <h2>Alerta ao Motorista</h2>
        <p>Prezado Motorista,</p>
        
        <p>Você está prestes a encerrar o contrato com o aluno. Antes de prosseguir, considere os seguintes pontos importantes:</p>
        
        <ul>
            <li><strong>Impacto da Decisão:</strong> A rescisão pode afetar tanto sua reputação profissional quanto a do aluno. Avalie se essa é a melhor escolha.</li><br>
            <li><strong>Comunicação Clara:</strong> É essencial informar o aluno sobre sua decisão de maneira respeitosa e transparente. Uma conversa aberta pode evitar mal-entendidos e garantir que ambos compreendam as razões.</li><br>
            <li><strong>Revisão do Contrato:</strong> Verifique as cláusulas do contrato original para entender possíveis penalidades ou obrigações. Isso garantirá que você esteja ciente de suas responsabilidades legais.</li><br>
            <li><strong>Alternativas:</strong> Considere se há maneiras de resolver os problemas atuais antes de encerrar o contrato. Às vezes, ajustes simples podem melhorar a situação.</li><br>
            <li><strong>Consequências Futuras:</strong> Pense nas repercussões a longo prazo de sua decisão. Como isso pode impactar suas futuras relações com alunos e outros motoristas?</li><br>
        </ul>

        <p>Reflita cuidadosamente sobre sua decisão e, se necessário, busque aconselhamento antes de prosseguir. Sua escolha é importante e pode definir sua trajetória profissional.</p>

        <p>Atenciosamente,<br>MoveBR</p>

        <p>Você está prestes a encerrar seu contrato com o aluno. Tem certeza de que deseja prosseguir?</p>
        <button>Confirmar</button>
    </div>
</body>
</html>
