<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transição com Veículo</title>
    <link rel="stylesheet" href="/static/styles/transicao-pagina.css">

</head>
<body>
    <div class="container">
        <h1>Página Atual</h1>
        <button id="transitionButton">Ir para a próxima página</button>
    </div>
    <div class="transition" id="transition">
        <div class="vehicle"></div>
        <div class="dust" id="dust"></div>
    </div>
    <script src="/static/js/transicao-pagina.js"></script>
</body>
</html>