/* Reset de margens e paddings */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6; /* Melhora a legibilidade */
    background-color: var(--cor-04); /* Cor de fundo clara */
    color: var(--cor-01); /* Cor do texto */
}

header {
    background-color: var(--cor-01); /* Cor de fundo do header */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.button-back {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button-back img {
    width: 20px;
    height: auto;
}

.button-back:hover {
    transform: scale(1.1);
}

.logo img {
    height: 30px;
}

main {
    width: 100%;
    margin: auto;
}

.c-table {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.btn-cadaluno button {
    background-color: var(--cor-05); /* Laranja */
    color: var(--cor-03); /* Branco */
    font-size: 15px;
    border: none;
    padding: 7px 12px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 80px;
}

.btn-cadaluno button:hover {
    background-color: #b06d14; /* Laranja mais escuro */
}

/* Estilo do container de busca */
.container-busca {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 45px;
}

.container-listagem-busca {
    top: 20px;
    right: 20px;
    width: 200px;
    padding: 10px;
    border-radius: 8px;
}

.container-listagem-busca h2 {
    font-size: 18px;
    color: var(--cor-01); /* Cinza-azulado escuro */
    text-align: center;
    margin-bottom: 10px;
}

.container-listagem-busca ul {
    list-style-type: none;
    padding: 0;
}

.container-listagem-busca li {
    margin-bottom: 5px;
}

.container-listagem-busca .btn-escola {
    background-color: var(--cor-05); /* Laranja */
    color: var(--cor-03); /* Branco */
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    margin-right: 5px;
}

.container-listagem-busca .btn-escola:hover {
    background-color: #b06d14; /* Laranja mais escuro */
}

.input-busca {
    border: none;
    padding: 10px 15px;
    outline: none;
    border-radius: 25px 0 0 25px;
}

.icone-busca {
    background-color: var(--cor-01); /* Cinza-azulado escuro */
    border: none;
    padding: 8px 13px;
    cursor: pointer;
    border-radius: 0 25px 25px 0;
}

.icone-busca:hover {
    background-color: var(--cor-02); /* Cinza-azulado claro */
}

.container-tabela {
    margin-top: 2rem;
}

.alunos-listados {
    background-color: #fff; /* Branco */
    margin: 0 auto;
    width: 80%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

td {
    padding: 12px 20px;
    font-weight: bold;
    position: relative; /* Necessário para posicionar o botão corretamente */
}

.perfil-aluno {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.foto-aluno {
    width: 120px; /* ou ajuste conforme necessário */
    height: 120px; /* ou ajuste conforme necessário */
    overflow: hidden; /* Garante que a imagem não ultrapasse o contêiner */
    border-radius: 50%; /* Garante que o contêiner também seja redondo */
    border: 2px solid var(--cor-05); /* Laranja */
}

.foto-aluno img {
    width: 100%; /* Faz com que a imagem preencha o contêiner */
    height: 100%; /* Mantém a proporção */
    object-fit: cover;
}

.info-aluno {
    margin-left: 20px;
}

.info-aluno h2 {
    font-size: 24px;
    margin: 0;
    color: var(--cor-01); /* Cinza-azulado escuro */
}

.info-aluno p {
    font-size: 16px;
    color: var(--cor-02); /* Cinza-azulado claro */
}

/* Detalhes do Aluno */
.detalhes {
    display: none; /* Esconde inicialmente */
    background-color: #F2F2F2; /* Cor de fundo cinza claro */
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px; /* Espaço entre o cabeçalho e a área expandida */
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.btn-expandir {
    position: absolute; /* Posiciona o botão em relação ao contêiner do aluno */
    right: 0; /* Ajuste a distância da borda direita */
    top: 0;
    background-color: transparent; /* Remova a cor de fundo se necessário */
    border: none; /* Remove a borda padrão */
    cursor: pointer; /* Muda o cursor para mão */
    font-size: 1rem; /* Tamanho do ícone */
    color: var(--cor-05); /* Laranja */
}

.info-transporte {
    margin-bottom: 20px;
}

.info-transporte h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--cor-05); /* Laranja */
}

.info-transporte p {
    font-size: 16px;
    color: var(--cor-01); /* Cinza-azulado escuro */
    margin-bottom: 5px;
}

.titulo-editar {
    display: flex;
    justify-content: space-between;
}

.btn-editar {
    background-color: var(--cor-01); /* Cinza-azulado escuro */
    border: none;
    border-radius: 50%; /* Faz o botão ser redondo */
    width: 30px; /* Ajuste conforme necessário */
    height: 30px; /* Ajuste conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-editar:hover {
    background-color: var(--cor-02); /* Cinza-azulado claro */
}

.icon-editar {
    width: 20px; /* Tamanho do ícone */
    height: 20px; /* Tamanho do ícone */
}

.info-extra h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--cor-05); /* Laranja */
}

.container-btn-excluir {
    margin-left: 87%;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.container-btn-excluir button {
    background-color: var(--cor-05); /* Laranja */
    color: var(--cor-03); /* Branco */
    border: none; /* Remove borda padrão */
    padding: 12px; /* Espaçamento interno */
    border-radius: 50px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transições suaves */
}

.container-btn-excluir button:hover {
    background-color: #b06d14; /* Laranja mais escuro */
    transform: translateY(-2px);
}

/* Estilo do título de alunos */
.AA {
    color: var(--cor-01); /* Cinza-azulado escuro */
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo do campo "Ponto de Partida" e botão de rota */
.route-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

#origin {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

#generateRoute {
    padding: 10px 15px;
    font-size: 14px;
    background-color: var(--cor-01); /* Cinza-azulado escuro */
    color: var(--cor-03); /* Branco */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#generateRoute:hover {
    background-color: var(--cor-02); /* Cinza-azulado claro */
}

.rota {
    padding: 20px;
}

form {
    display: flex;
    align-items: center;
    padding-right: 3px;
}

form label {
    margin-top: 7px;
}

.container-listagem-busca h2 {
    font-size: 18px;
    color: var(--cor-01); /* Cinza-azulado escuro */
    text-align: center;
}

.container-listagem-busca ul {
    list-style-type: none;
}

.container-listagem-busca li {
    margin-bottom: 5px;
}

.container-listagem-busca .btn-escola {
    background-color: var(--cor-05); /* Laranja */
    color: var(--cor-03); /* Branco */
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    margin-right: 5px;
}

.container-listagem-busca .btn-escola:hover {
    background-color: var(--cor-06); /* Laranja mais escuro */
}

/* Estilo do container de rota */
.container-rota {
    display: flex;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

#origin {
    border-radius: 5px;
    border: 1px solid #ccc;
}

#generateRoute {
    background-color: var(--cor-01); /* Cinza-azulado escuro */
    color: var(--cor-03); /* Branco */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#generateRoute:hover {
    background-color: var(--cor-02); /* Cinza-azulado claro */
}

/* Estilo do checkbox */
input[type="checkbox"] {
    appearance: none; /* Remove a aparência padrão do checkbox */
    width: 20px;
    height: 20px;
    border: 2px solid #ccc; /* Cor da borda desmarcada */
    border-radius: 50%; /* Torna o checkbox redondo */
    position: relative;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="checkbox"]:checked {
    background-color: var(--cor-05); /* Laranja */
    border-color: var(--cor-05); /* Borda da mesma cor */
}

/* Estilo opcional para o ícone de verificação */
input[type="checkbox"]:checked::after {
    content: '✔'; /* Ícone de verificação */
    font-size: 14px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
}

.contagem-alunos{
    text-align: center;
}
