/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e4e4e4;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    background-image: linear-gradient(to right, #6DA6B1 0%, #346D7E 100%);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    z-index: 999;
}

.c2 {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.logo img {
    width: 150px;
}

.menu-icon {
    cursor: pointer;
    color: #ffcc00; /* Amarelo */
    padding-left: 96%;

}

.menu-icon img {
    width: 50px;
    height: 50px;
    filter: invert(99%) sepia(1%) saturate(74%) hue-rotate(354deg) brightness(114%) contrast(100%);
}

/* Menu */
.menu {
    position: fixed; /* Torna o menu fixo na tela, independente do scroll */
    top: 20%; /* Ajuste conforme necessário para posicionamento vertical */
    right: -400px; /* Fora da tela inicialmente */
    height: 60%;
    width: 170px;
    background-color: #00000086;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 0 0 10px;
    transition: right 0.5s ease;
    z-index: 1001; /* Z-index maior que o carrossel para garantir que fique na frente */
}

/* Quando a classe 'show' é aplicada, o menu aparece */
.menu.show {
    right: 0; /* Move o menu para dentro da tela */
    opacity: 1;
}

.card {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #d3d3d300;
    border: none;
    padding: 40px;
    transition: transform 0.2s;
    width: 150px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.card img {
    width: 80px;
    height: 80px;
}

.card p {
    margin-top: 10px;
    font-size: 1.2rem;
}

.card:hover {
    transform: scale(1.05);
    background-color: #ffcc00; /* Amarelo */
}

.card:active {
    transform: scale(0.98);
}


/* Seções principais */
main {
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    color: #333;
}

h2 {
    color: #000;
    margin-bottom: 20px;
    font-size: 3rem;
    font-family: 'Bebas Neue', sans-serif;
}

h4 {
    color: #000;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
}

section {
    margin-bottom: 40px;
}

.cards2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card3 {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 250px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card3 h2 {
    color: #6b1c1c;
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.card3 p {
    color: #333;
    font-size: 0.9rem;
}

.icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

/* Footer */
footer {
    background-color: #346D7E;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9rem;
}

footer .social-icons {
    margin: 10px 0;
}

footer .social-icons a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5rem;
}

footer p {
    margin-top: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .cards2 {
        flex-direction: column;
        align-items: center;
    }

    .card3 {
        width: 80%;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    main {
        padding: 20px;
    }

    header {
        flex-direction: column;
        padding: 20px;
    }

    h2 {
        font-size: 2rem;
    }
}
