* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--cor-04);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header {
    background-image: linear-gradient(to right, var(--cor-05) 0%, var(--cor-06) 100%);
    /* Gradiente suave de azul claro para azul petróleo */
    color: var(--cor-03);
    /* Texto em bege claro para contraste elegante */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    /* Sombra suave para profundidade */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.logo img {
    height: auto;
    width: 200px;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-03);
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.foto-motorista {
    width: 200px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.nome-motorista {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
    margin-bottom: 50px;
}

.descricao-motorista {
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    width: 50%;
    height: auto;
    overflow: hidden;
    word-wrap: break-word;
}

.descricao-motorista h2 {
    margin-bottom: 30px;
}

.cidade-motorista {
    display: flex;
    margin-bottom: 20px;
}

.foto-van img {
    width: 10 0%;
    height: auto;
}

.botao-contrato {
    background-color: var(--cor-05);
    color: var(--cor-03);
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-contrato:hover {
    background-color: #2c717f;
}

nav {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    margin-top: 20px;
    /* Ajusta a margem para dar espaçamento */
    margin-bottom: 60px;
}

nav a:last-child .botao {
    margin-right: 0;
}

/* Efeito hover para mudar a cor da letra */
.botao:hover {
    color: var(--cor-03);
    /* Texto branco */
    background-color: var(--cor-06);
    /* Cor de fundo diferente ao passar o mouse */
    transform: scale(1.05);
    /* Pequeno zoom no botão */
}

.botao {
    border: solid 1px var(--cor-06);
    border-radius: 10px;
    color: #000000;
    background-color: var(--cor-03);
    transition: background-color 1.0s ease, color 0.5s ease-in, transform 0.5s ease;
    height: 50px;
    width: 200px;
    margin-right: 30px;
}