body {
    overflow: hidden; /* Impede a rolagem */
    margin: 0;
    height: 100vh;
    position: relative;
}

.vehicle {
    position: absolute;
    width: 500px; /* Largura do veículo */
    height: 500px; /* Altura do veículo */
    background-image: url(/static/icones/van-transicao.png);
    left: 0;
    animation: moveVehicle 4s linear forwards; /* Animação para o veículo */
}


.video {
    position: absolute;
    width: 100vw; /* Largura maior para permitir o movimento contínuo */
    height: 100vh;
    background-image: url("https://media.tenor.com/Zr2TbKJP_YkAAAAM/dans.gif");
    animation: moveBackground 10s linear infinite; /* Animação contínua */
    z-index: 0; /* Fundo atrás de outros elementos */
}



@keyframes moveVehicle {
    0% {
        left: -50px; /* Começa um pouco fora da tela */
    }
    100% {
        left: 100vw; /* Move para o lado direito */
    }
}



