body {
    overflow: hidden; /* Impede a rolagem */
    margin: 0;
    height: 100vh;
    position: relative;
}

.vehicle {
    position: absolute;
    width: 500px; /* Largura do veículo */
    height: 500px; /* Altura do veículo */
    background-image: url(/static/icones/van-transicao.png);
    left: 0;
    animation: moveVehicle 4s linear forwards; /* Animação para o veículo */
}


.video {
    position: absolute;
    width: 100vw; /* Largura maior para permitir o movimento contínuo */
    height: 100vh;
    background-repeat: repeat-x; /* Repete horizontalmente */
    animation: moveBackground 5s linear infinite; /* Animação contínua */
    z-index: 0; /* Fundo atrás de outros elementos */
}

@keyframes moveBackground {
    0% {
        transform: translateX(0); /* Posição inicial */
    }
    100% {
        transform: translateX(-50%); /* Move para a esquerda */
    }
}

@keyframes moveVehicle {
    0% {
        left: -50px; /* Começa um pouco fora da tela */
    }
    100% {
        left: 100vw; /* Move para o lado direito */
    }
}



