:root {
    --cor-01: #2c3e50;   /* cinza-azulado escuro */
    --cor-02: #456789;   /* tom de cinza azulado (para hover) */
    --cor-03: #ecf0f1;   /* cinza claro, quase branco */
    --cor-04: #f5f6fa;   /* off-white */
    --cor-05: #e79428;   /* laranja (para destaques, botões) */
    --cor-06: #b06d14;   /* laranja mais escuro (para hover) */
}


/* 
var(--cor-01);
var(--cor-02);
var(--cor-03);
var(--cor-04);
var(--cor-05);
var(--cor-06);
*/