:root{
    --cor-01: #333; /* cinza escura */
    --cor-02: #676767; /* cinza claro */
    --cor-03: #fff; /* branco */
    --cor-04: #f4f4f4; /* offwhite */
    --cor-05: #6DA6B1; /* "azul" claro */
    --cor-06: #346D7E; /* "azul" escuro */
}
MMM
/* 
var(--cor-01);
var(--cor-02);
var(--cor-03);
var(--cor-04);
var(--cor-05);
var(--cor-06);
*/